/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.botones {
	-fx-background-color: rgb(222,193,180);
	-fx-border-color:  rgb(128,128,128);
    -fx-border-radius:  4px;
    -fx-font-family: "Pt Sans";
    -fx-font-size: 14px;
    -fx-text-fill:  blue;
}
.text-area {
	-fx-border-color:  blue;
	-fx-font-family: monospace;
	-fx-font-weight: bold;
	
	 
	 
}
.text-area .content {
    -fx-background-color:  #f6f5f5;
    
}

.botonletra {
	-fx-font-family: "Pt Sans";
    -fx-font-size: 18px;
    -fx-text-fill:  darkgrey ;
    -fx-font-weight: bold;
     
    
	
}

.text-field {
    -fx-background-color: #b4dec1;
	-fx-border-color:   grey;
    -fx-border-radius:  4px;
    
}

.radio-button {
	-fx-font-family: "Pt Sans";
    -fx-font-size: 14px;
    -fx-text-fill:  blue;
	
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.dialog-pane{
  -fx-background-color: #2c5545;
  -fx-font-size:44px;
  -fx-border-width:2.0px;
}

.dialog-pane .label {
  
  -fx-background-radius:10px;
  -fx-text-fill:white;
  -fx-font-family: 'Brush Script MT';
  
}

.dialog-pane .button{
   -fx-background-color: #82a1b1;
   -fx-font-size:16px;
 
 }

.dialog-pane .button:hover{     
  -fx-background-color:rgb(222,193,180);
  -fx-text-fill:black;
 
 }

 